/** Controls **/
.video-editor-controls {
  position: relative;
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/** play/pause btn **/
.play-btn i,
.play-btn svg {
  font-size: 20px;
  margin-left: 3px;
}
/** pause btn **/
.play-btn.control-btn-active i,
.play-btn.control-btn-active svg {
  margin-left: -1px;
}

@media (max-device-width: 380px) {
  .video-editor-controls {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
  }
}
