/** Controls **/
.video-editor-controls {
  position: relative;
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/** play/pause btn **/
.play-btn i {
  margin-left: 3px;
}
/** pause btn **/
.play-btn.control-btn-active i {
  margin-left: 0px;
}

@media (max-device-width: 380px) {
  .video-editor-controls {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
  }
}
