/** Controls **/
.video-editor-controls {
  position: relative;
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/** play/pause btn **/
.play-btn i {
  margin-left: 3px;
}
.pause i {
  color: blue;
}

@media (max-device-width: 380px) {
  .video-editor-controls {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
  }
}
