.marker {
  border: var(--marker-border-size) solid var(--marker-border-color);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  box-shadow: 0px 0px 2px 0px rgb(105, 105, 105);
}

.marker {
  /* opacity: 0.5; */
  position: absolute;
  z-index: 1;
  top: 0;
  width: var(--marker-width);
  height: 100%;
  background: var(--marker-bg-color);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: grab;
}
.marker {
  cursor: grabbing;
}

.in-marker {
  left: 0;
  margin-left: calc(var(--marker-width) * -1 + 1px);
  /** top: calc(var(--marker-border-size) * -1); **/
  top: 0;
  border-radius: 20px 0px 0px 20px;
}
.out-marker {
  right: 0;
  /** The +1px is for pixel perfection. Sometimes there is a pixel gap for a reason
  I haven't nailed down yet. It only appears on certain viewport widths **/
  margin-right: calc(var(--marker-width) * -1 + 1px);
  /** top: calc(var(--marker-border-size) * -1); */
  top: 0;
  border-radius: 0 20px 20px 0;
}
