.timeline-container {
  width: fit-content;
  /* width: 100%; */
  /** 
  padding left/right must be at least the total width
  of the left and right markers **/
  padding: 30px !important;
  display: flex;
  justify-content: center;
  /* background: rgb(220, 220, 220); */
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.timeline {
  position: relative;
  width: calc(100% - var(--marker-width) * 2) !important;
  height: 100px;
  display: flex;
  background: gray;
}
.timeline.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.frames-container {
  position: relative;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.frames-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frame {
  /** Frame **/
  display: inline-flex;
  justify-content: center;
  border-width: var(--frame-border-size);
  border-style: var(--frame-border-style);
  border-color: var(--frame-border-color);
  /* border-top: none;
   border-bottom: none;
   border: none; */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  background: var(--frame-bg);
  width: auto !important;
}
.frame canvas {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* background: slateblue; */
  background: rgb(37, 37, 37);
}

@media (max-device-width: 380px) {
  .timeline-container {
    margin-top: 0rem;
    padding: 20px 30px !important;
    width: calc(100% + 40px);
    background: transparent;
  }
  .timeline {
    height: 70px;
  }
}
