.play-head {
  /* --play-head-color: green; */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  left: 0;
  position: absolute;
  z-index: 3;

  top: 0;
  width: 0;
  border-top: var(--play-head-width) solid var(--play-head-color);
  border-bottom: var(--play-head-width) solid var(--play-head-color);
  border-left: var(--play-head-width) solid var(--play-head-color);
  border-right: var(--play-head-width) solid var(--play-head-color);
  height: 100%;
  padding: 0;
  margin: 0;
  /** background: black; **/
  /* transition: transform 0.25s linear; */
}
.play-head::before {
  content: '';
  /* width: calc(var(--play-head-width) * 4); */
  border-top: calc(var(--play-head-width) * 4) solid var(--play-head-color);
  border-right: calc(var(--play-head-width) * 4) solid transparent;
  border-bottom: calc(var(--play-head-width) * 4) solid transparent;
  border-left: calc(var(--play-head-width) * 4) solid transparent;
  width: 0;
  height: 5px;
  background: transparent;
  position: absolute;
  /* top: calc(var(--play-head-width) * -1); */
  top: 0;
  transform: translate(-50%, calc(var(--play-head-width) * -2));
}
.play-head::after {
  content: '';
  /* width: calc(var(--play-head-width) * 4); */
  border-top: calc(var(--play-head-width) * 4) solid transparent;
  border-right: calc(var(--play-head-width) * 4) solid transparent;
  border-bottom: calc(var(--play-head-width) * 4) solid var(--play-head-color);
  border-left: calc(var(--play-head-width) * 4) solid transparent;
  width: 0;
  height: 5px;
  background: transparent;
  position: absolute;
  /* top: calc(var(--play-head-width) * -1); */
  bottom: 0;
  transform: translate(-50%, calc(var(--play-head-width) * 2));
}
