/** primary ancestor of the editor **/
.video-editor-wrapper * {
  font-family: var(--font-family);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.video-editor-wrapper {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  min-width: 450px;
  min-height: 450px;
  height: 100vh;
  width: 100%;
  background: var(--video-wrapper-bg);
}
.video-editor-container {
  position: relative;
  /* width: 100%; */
}
.video-editor-container video {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #f2f2f2;
}
/** the container for the video display in the editor **/
.video-container {
  position: relative;
  /* width: 100%; */
  /* overflow: hidden; */
  margin: 0 auto;
  box-shadow: 0px 0px 0px var(--video-container-border-size) var(--video-container-border-color);

  background-color: var(--container-bg);
}
.video-wrap,
.video-editor-container {
  /* overflow: visible !important; */
  overflow: hidden;
}

/** descendant of video-container, wraps around the HTML5 Video element **/
.video-wrap {
  position: relative;
  /* max-height: 200px; */
  overflow: hidden;
}
.video-wrap,
.video-wrap video {
  transform-origin: 50% 50%;
}

.video-container svg {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 2;
  opacity: 1;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}
.video-container {
}
.preview-container,
.video-container svg path {
  --bg-color: var(--video-wrapper-bg);
  background: var(--video-container-bg);
  fill: var(--bg-color);
}

.preview-container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 100%;
}
