.video-editor-wrapper {
  /** color scheme **/
  --overall-color: #d4d4d5;
  --highlight-color: gold;
  --video-wrapper-bg: #222324;
  /** text **/
  --loading-text-color: rgb(198, 198, 198);
  /** video container **/
  --video-container-border-size: 0px;
  --video-container-border-color: rgb(100, 100, 100);
  /** menu bar **/
  --menu-bar-btn-bg: transparent;
  --menu-bar-btn-border-color: gray;
  --menu-bar-btn-text: white;
  --menu-bar-btn-bg-hover: var(--highlight-color);
  --menu-bar-btn-text-hover: black;
  --menu-bar-btn-border-color-hover: transparent;
  /** frames **/
  --frame-bg: rgb(128, 128, 128);
  --frame-border-size: 2px;
  --frame-border-style: solid;
  --frame-border-color: rgb(58, 58, 58);
  /** range select **/
  --range-selector-border-size: 4px;
  --range-selector-border-color: var(--highlight-color);
  /** markers **/
  --marker-border-size: 7px;
  /** marker width MUST be greater than (marker-border-size * 2) **/
  --marker-width: 20px;
  --marker-border-color: var(--highlight-color);
  --marker-bg-color: var(--highlight-color);
  --in-out-marker-grab-color: rgb(35, 35, 35);
  /** playhead **/
  --play-head-width: 1.5px;
  --play-head-color: white;
  /** crop slider **/
  --crop-slider-thumb-color: var(--highlight-color);
  --crop-slider-runnable-track: var(--overall-color);
  /** control button **/
  --control-btn: var(--overall-color);
  --control-btn-bg: rgba(0, 0, 0, 0.2);
  --control-btn-i: var(--overall-color);
  --control-btn-hover: var(--highlight-color);
  --control-btn-border-radius: 50%;
  --control-btn-hover-i: var(--highlight-color);
  --control-btn-focus-i: var(--highlight-color);
  --control-btn-focus-bg: rgba(0, 0, 0, 0.5);
  --control-btn-active: var(--highlight-color);
  --control-btn-active-icon: var(--highlight-color);
}
.video-editor-wrapper {
  position: relative;
  min-width: 450px;
  min-height: 450px;
  background: var(--video-wrapper-bg);
}
.video-editor-container {
  position: relative;
  /* width: 100%; */
}
.video-editor-container video {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #f2f2f2;
}
.video-container {
  position: relative;

  margin: 0 auto;
  box-shadow: 0px 0px 0px var(--video-container-border-size) var(--video-container-border-color);
}
.video-wrap,
.video-editor-container {
  /* overflow: visible !important; */
  overflow: hidden;
}
.video-wrap {
  position: relative;
  /* max-height: 200px; */
}
.video-wrap,
.video-wrap video {
  transform-origin: 50% 50%;
}

.video-container svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 1;
}
